p {
    font-variant: small-caps;
}

.project p {
    font-variant: small-caps;
}

#project1 {
     margin-left: 10px;
    background-color: #e6f9ff
;
    padding: 10px;
    width: 500px;
}

#project2 {
     margin-left: 10px;
    background-color: #e6f9ff;
    padding: 10px;
    width: 500px;
}

.jumbotron p.active {
     color: #a3ff7f;
}